<% if(logged){ %> 
  <%- include('partials/navbar.ejs',{title:"Traddiction",logged,username:user.firstName}) %> 
<% }else{ %> 
    <%- include('partials/navbar.ejs',{title:"Traddiction",logged}) %> 
<% } %> 

<div class="container-fluid" id="newAdditions">
    

    
    <%-include("partials/carousel.ejs",{carousel})%>
      
      <%-include("partials/category.ejs",{categories})%>
      

    <div class="row" id="searchItems">
      <h2 style="color: #8e8e8e;">Search for items</h2>
      <form action="/search" method="get" class="queryItemsForm">
        <input type="text" id="queryItems" placeholder="Query" name="queryText" />
        <button type="submit" id="query-btn">Go</button>
      </form>
    </div>

    <%- include("partials/addControl.ejs",{listings}) %> 

    
</div>


<%- include("partials/footer.ejs") %> 