<!-- view που προβαλλεται οταν ο χρηστης ειναι συνδεδεμενος στο προφιλ του και πατησει πανω σε μια
αγγελια της αρχικης οθονης για να την δει ολοκληρη και να αποφασισει εαν θελει να κανει αιτηση ανταλλαγης -->

<%- include('partials/navbar.ejs',{title:`${listing.title}`,logged,username:user.firstName}) %> 


<div class="container" id="addDisplay">
    <div class="img" style='background-image: url("<%=listing.src%> ")'></div>
    <h2><span style="color: rgb(71,225,12);">Title: </span> <%=listing.title%></h2>
    <p><span style="color: rgb(71,225,12);">Description: </span><%=listing.text%></p>
    <%if(!listing.free){ %>
        <small><span style="color: rgb(71,225,12);">Looking for: </span> <%=listing.looksFor%> <span></span></small>
    <%}else{%>
        <small><span style="color: rgb(71,225,12);">Freebie</span><span></span></small>
    <%} %> 
    <form action="/listing/<%=listing.id %> " method="post">
    <select class="form-select" id="tradeFor" name="tradeFor">
    <option selected>My items</option>

    <!-- καθε αντικειμενο που εχει καταχωρισει ο χρηστης προβαλεται με τιτλους και του δινεται η δυνατοτητα
    να το επιλεξει για να κανει αιτημα ανταλλαγης -->
    <% for(let l of myListings){ %>
            <option value=<%=l.id%> ><%=l.title %> </option>
    <% } %> 
   
    </select>
    <!-- το κουμπι για αιτημα ανταλλαγης εμφανιζεται μονο εφοσον η αγγελια που εχει επιλεξει ο χρηστης να 
    επισκεφθει δεν ειναι δικια του καταχωρηση -->
    <% if(messages.error){%>
        <div class="alert alert-danger mt-2" role="alert"><%=messages.error%> <a href="/">Back to home page</a></div>
    <% }else{ %>
        <button type="submit" class="btn btn-primary">Request trade</button>
    <% } %> 
    </form>
    <% if(messages.success){%>
        <div class="alert alert-success mt-2" role="alert"><%=messages.success%> <a href="/">Back to home page</a></div>
    <% } %>

</div>




<%- include("partials/footer.ejs") %> 
